
@{
    ViewData["Title"] = "TopEarners";
}

<h2>TopEarners</h2>

<body>
    <h3>
        Top Earners
    </h3>

        Page:
        <br/>
        <input type="text" name=" page" />
        Items per Page:
        <br\>
        <input type="text" name=" perPage" />
            <input type="submit" value="= Submit" />

        
</body>

